<div class="product-item ">
    <a href="#"><%= image_tag product.prd_img %></a>
    <h4><%= link_to product.prd_name , root_url %></h4>
    <p>Giá Bán: <span><%= product.prd_price %></span></p>
</div>